@import '../abstracts/mixins';

/* ------------------------------ Flex Box ------------------------------ */
.flex-box {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &--direction-column {
    flex-direction: column;
  }

  &--items-center {
    align-items: center;
  }

  &--items-end {
    align-items: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--gap1 {
    gap: .625rem;
  }

  &--gap2 {
    gap: 1rem;
  }
}

/* ------------------------------ Text Box ------------------------------ */
.text-box {
  width: 100%;
  
  &--rounded {
    padding: 1.25rem 1rem;
    background-color: $color-gray-100;
    border-radius: $border-radius;
  }
}



.text-table {
  color: rgba($color-white, 0.5);

  th {
    padding: 1rem 1rem;
    background-color: #212121;
    @include font-size(12, 16, 500);
  }
  td {
    @include font-size(12, 16);
    padding: 1rem;
    border-bottom: solid 1px rgb(30, 30, 30);
    border-left: 1px solid rgb(30, 30, 30);
    white-space: initial;

    &:first-child {
      border-left: none;
    }
  }

}


/* ------------------------------ FORM ------------------------------ */
.form {
  display: block;
  width: 100%;
}

.field-group {
  position: relative;
  width: 100%;
  margin-top: 1.75rem;
  
  &--half {
    width: calc(50% - 1.2rem);
  }

  &__label {
    display: block;
    font-size: 1.063rem;
    font-weight: 600;
    color: $color-black-100;
    margin-bottom: .875rem;

    &--blind {
      display: none;
    }

    & .icon-required {
      display: inline-block;
      padding-left: 3px;
      color: $color-red;
      font-size: 1.2rem;
      vertical-align: top;
    }
  }

  &__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid $color-gray-400;
    background-color: $color-white;
    border-radius: $border-radius; 
    overflow: hidden;
    transition: all 0.3s; 

    &--no-style {
      display: block;
      border: none;
      border-radius: 0; 
      overflow: visible;
    }
    
    &--invalid {
      border-color: $color-red;
    }

    &--disabled, 
    & .field-group__input:disabled,
    //& .field-group__input:read-only:not(.flatpickr)
    & .field-group__input:read-only {
      border-color: $color-gray-300;
      background-color: $color-gray-300;
      color: $color-gray-800;
      cursor: not-allowed;
      pointer-events: none;
    }

    &:focus-within {
      border-color: $color-primary;
      //box-shadow: 0 0 0 .2rem rgba(246, 98, 23, .2);
    }

    .icon {
      flex-shrink: 0;
    }
  }
  
  &__btn {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: $color-gray-500;
    padding: .75rem 1rem;
    transition: all 0.3s;
    z-index: 2; 

    &.expanded {
      color: $color-primary;
    }
  }

  &__pwbtn {
    position: relative;
    @include size(18px, 18px);
    background-size: 12px 12px;
    margin: .75rem .75rem .75rem .125rem;
    z-index: 2; 

    &.expanded {
      color: $color-primary;
    }
  }

  &__clear {
    position: relative;
    display: none;
    @include size(18px, 18px);
		background-image: icon(close, 'ffffff');
    background-color: $color-gray-600;
    background-size: 12px 12px;
    background-position: 3px;
    background-repeat: no-repeat;
    margin: .75rem;
    border-radius: 50%;
    z-index: 2; 
  }

  &__input {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    font-size: 1rem;
    padding: .75rem;
    color: $color-black-100;
    outline: 0;

    &:not(:placeholder-shown) + .field-group__clear {
      display: block;
    }
  }

  &__textarea {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: 100%;
    height: 118px;
    font-size: 1rem;
    padding: .75rem;
    color: $color-black-100;
    outline: 0;
    resize: none;
  }

  &__div-input {
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    width: 100%;
    min-height: calc(1.5em + 1.5rem);
    font-size: 1rem;
    padding: .75rem;
    word-break: break-all;
    color: $color-black-100;
  }

  &__help {
    display: block;
    margin-top: .5rem;
    color: $color-gray-700;
    font-size: .8125rem;
    text-align: left;

    &--error {
      color: $color-red;  
    }
  }

  &__check-characters {
    display: block;
    margin-top: .5rem;
    color: $color-gray-700;
    font-size: .8125rem;
    text-align: right;

    em {
      color: $color-black-100;
    }
  }
}

.field-group2 {
  position: relative;
  margin-top: 1rem;
  padding: 1.25rem 1rem;
  background-color: $color-white;
  border: .0625rem solid $color-gray-300;
  border-radius: $border-radius;

  &--no-border {
    margin-top: 1.75rem;
    padding: 0;
    border: none;
    border-radius: 0; 
  }

  &__label {
    display: block;
    font-size: 1.063rem;
    font-weight: 600;
    color: $color-black-100;
    margin-bottom: .875rem;

    &--blind {
      display: none;
    }

    & .icon-required {
      display: inline-block;
      padding-left: 3px;
      color: $color-red;
      font-size: 1.2rem;
      vertical-align: top;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: .75rem;
      color: $color-gray-700;
    }
  }

  &__cont {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
  
  &__clear {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    @include size(18px, 18px);
		background-image: icon(close, 'ffffff');
    background-color: $color-gray-600;
    background-size: 12px 12px;
    background-position: 3px;
    background-repeat: no-repeat;
    margin: .75rem;
    border-radius: 50%;
    z-index: 2;
  }

  &__input {
    position: relative;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    font-size: 1rem;
    padding: .75rem 2rem .75rem 0;
    color: $color-black-100;
    outline: 0;
    border-bottom: .0625rem solid $color-gray-400;

    &:focus {
      border-color: $color-black-100;
    }

    &:not(:placeholder-shown) + .field-group2__clear {
      display: block;
    }
  }

  &__textarea {
    position: relative;
    width: 100%;
    height: 45px;
    max-height: 300px;
    font-size: 1rem;
    padding: .75rem 0;
    color: $color-black-100;
    outline: 0;
    resize: none;
    border-bottom: .0625rem solid $color-gray-400;
    overflow-y: auto;
    transition: all 0.3s; 

    &:focus {
      border-color: $color-black-100;
    }

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
  }

  &__text {
    font-size: .9375rem;
    color: $color-gray-900;
  }
}


/* ------------------------------ CUSTOM FILE UPLOAD & DOWNLOAD ------------------------------ */
.file-upload {
  display: flex;
  gap: .5rem;
  padding: .5rem 0;

  &__label {
    flex-shrink: 0;
    width: fit-content;
    height: 48px;
    font-size: .875rem;
    line-height: 48px;
    text-align: center;
    padding: 0 1rem;
    display: block;
    color: $color-white;
    background-color: $color-gray-700;
    border-radius: $border-radius;
    cursor: pointer;    
  }

  &__input {
    display: none;
  }

  &__preview {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
    border-bottom: .0625rem solid $color-gray-400;

    div {
      display: flex;
      font-size: .875rem;
      color: $color-black-100;
      .name {
        max-width: 18ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ext {
        flex-shrink: 0;
      }
    }
  }
  
  .btn-delete {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include size(22px, $height: 22px);
    border-radius: 50%;
    background-color: $color-black-300;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    
    i {
      @include size(12px, 12px);
    }
  }
}

.file-download {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 0;

  &__preview {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
    padding: 0 1rem 0 .5rem;
    border: .0625rem solid $color-gray-400;

    a {
      display: flex;
      font-size: .875rem;
      color: $color-black-100;
      padding: .5rem 0;
      text-decoration: none;
      overflow: hidden;

      .name {
        flex: 1 1 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ext {
        flex-shrink: 0;
      }
    }
  }
}

/* ------------------------------ SEARCH ------------------------------ */
.search-form {
  position: relative;
  
  .icon.search {
    margin-left: 1.2rem;
    margin-top: 0.2rem;
  }
}

// --- 검색 팝업 ------------------------------------------------------------------
.overlay-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  z-index: 1000;
  overflow: auto;

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background: $color-white;
  }

  &__head {
    @include position(sticky, $top: 0);
    height: 3.625rem;
    display: flex;
    padding: 1rem;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray-400;
  }

  &__input {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: .75rem;
    color: $color-black-100;
    outline: 0;
  }

  &__dirbutton {
    font-size: .8125rem !important;
    padding-right: 0 !important;
  }

  &__body {
    flex-grow: 1;
  }  
}

// --- 검색 팝업 결과 ------------------------------------------------------------------
.overlay-results-list {
  flex-grow: 1;
  display: none;
  max-height: 100%;
  padding: 0 .5rem;
  overflow-y: auto;

  li {
    font-size: .875rem;
    color: $color-black-400;
    padding: 1rem 1.25rem;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray-200;
    word-break: break-all;
    cursor: pointer;
  }
}


.suggestion {
  position: absolute;
  width: 100%;
  margin-top: 3px;
  border: 1px solid rgba($color-gray-300, 0.5);
  background-color: rgba($color-gray-200, 1);
  border-radius: $border-radius;
  box-shadow: 0 5px 20px rgba($color-black-100, 0.6);
  padding: 1.6rem 2rem;
  z-index: 10;
  animation: suggestionShow 0.4s ease-out;

  &--hidden { 
    display: none;
  }

  &__inner {
    max-height: 29vh;
    overflow-y: auto;
  }

  &__description {
    width: 100%;
    @include font-size(14, 17, 400);
    text-align: center;
    color: rgba($color-white, 1);
  }

  &__item {
    position: relative;
    display: flex;
    width: 100%;
    @include font-size(15, 16, 400);
    padding: 8px 0 10px;
    border-bottom: 1px solid rgba($color-gray-300, 0.5);
  }
}

@keyframes suggestionShow {
  0% {
    opacity: 0;
    margin-top: 10%;
  }
  100% {
    opacity: 1;
    margin-top: 3px;
  }
}

/* ------------------------------ 검색 필터 Drop Down ------------------------------ */
.button-dropdown {
  display: flex;
  justify-content: flex-end;
  position: relative;

  &__inner {
    position: relative;
    cursor: pointer;
    transition: all 0.3s;  

    &.expanded {
      .button-dropdown__list {
        display: block;
        
      }
    }
  }

  &__label {
    display: flex;
  }
  
  &__list {
    display: none;
    @include position(absolute, $top: 108%, $right: 0);
    width: auto;
    min-width: 86px;
    text-align: center;
    border: .0625rem solid $color-gray-300;
    border-radius: $border-radius;  
    background-color: $color-white;
    box-shadow: 0px 3px 10px rgba($color-black-100, 0.15);
    animation: display-none-transition 0.2s ease-in-out forwards;
    transform-origin: top center;
    overflow: hidden;
    z-index: 7;
  }

  &__item {
    font-size: .875rem;
    color: $color-black-100;
    padding: .625rem;    
    border-bottom: .0625rem solid $color-gray-200;
    
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $color-gray-300;
    }    
  }
}

@keyframes display-none-transition {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


/* ------------------------------ 리스트 정렬 ------------------------------ */
.sorting {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: .875rem;
  }
}


/* ------ CUSTOM CHECKBOX ----- */
.checkbox {

  &--pos-rel {
    position: relative;
  }

  & + & {
    margin-top: .75rem;
  }

  &__wrapper {
    display: flex;
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
  }

  &__title {
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;;
    color: $color-gray-700;
    vertical-align: middle;

    &--large {
      font-size: 1rem;
      font-weight: 500;
      color: $color-black-100;
    }

    &--blind {
      display: none;
    }
  }

  &__link {
    @include position(absolute, $top: 50%, $right: 0);
    font-size: .8125rem;
    color: $color-gray-600;
    padding: 0 5px;
    z-index: 2;
    transform: translateY(-50%);
  }
  
  &--hidden {
    display: none;
  }
  
  &--show {
    @include position(absolute, $top: 0, $left: 0);
    height: 20px;
    width: 20px;
    border: .0625rem solid $color-gray-500;
    border-radius: .125rem;

    &::after {
      content: '';
      display: none;
      position: absolute;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 9px;
      border: solid $color-gray-500;
      border-width: 0 .125rem .125rem 0;
      transform: rotate(45deg);
    }  
  }

  &--hidden:checked ~ &--show::after {
    display: block;
  }

  &--primary {
    &:checked ~ .checkbox--show {
      background-color: $color-primary;
      border-color: $color-primary;

      &::after {
        border-color: $color-white; 
      }
    }
    &:disabled ~ .checkbox--show {
      background-color: $color-white;
      //border: 1px solid $grey-100;
      cursor: not-allowed;
    }
    &:checked:disabled ~ .checkbox--show {
      background-color: $color-primary;
      opacity: 0.6;
      cursor: not-allowed;

      &::after {
        border-color: $color-white; 
      }
    }
    
  }
}


/* ------ CUSTOM RADIO ----- */
.radiobox {
  position: relative;
  margin: .75rem 0;

  &--col3 {
    width: calc(100% / 3);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 32px;
  }

  &__title {
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.375rem;;
    color: $color-black-200;
    vertical-align: middle;
    word-break: break-all;

    &--large {
      font-size: 1rem;
    }
  }
  
  &--hidden {
    display: none;
    
    &:checked {
      display: block;
    }
  }
  
  &--show {
    @include position(absolute, $top: 0, $left: 0);
    height: 22px;
    width: 22px;
    border: .0625rem solid $color-gray-400;
    border-radius: 50%;

    &::after {
      content: '';
      position: absolute;
      left: 3px;
      top: 3px;
      width: 14px;
      height: 14px;
      background-color: transparent;
      border-radius: 100%;
      transform: scale(0);
      transition: all 0.2s ease;
    }  
  }

  &--hidden:checked ~ &--show:after {
    display: block;
  }

  &--primary {
    &:checked ~ .radiobox--show {
      border-color: $color-primary;

      &::after {
        background-color: $color-primary;
        transform: scale(1);
      }
    }
    &:disabled ~ .radiobox--show {
      background-color: $color-gray-300;
      //border: 1px solid $grey-100;
      cursor: not-allowed;
    }
    &:checked:disabled ~ .radiobox--show {
      background-color: $color-primary;
      opacity: 0.6;
      cursor: not-allowed;

      &::after {
        border-color: $color-white; 
      }
    }
    
  }
}


/* ------ CUSTOM SELECT ----- */
.select-dropdown {
  min-width: 12ch;
  background-color: $color-white;

  &--full {
    width: 100%;
  }

  & + & {
    margin-left: .625rem;
  }

  &__inner {
    position: relative;
    height: calc(1.5em + 1.625rem);
    border: .0625rem solid $color-gray-400;
    background-color: $color-white;
    border-radius: $border-radius; 
    cursor: pointer;
    padding-right: 1.5rem;
    //transition: all 0.3s;  

    &.expanded {
      background-color: $color-white;
      border-color: $color-gray-700;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 3px 5px 0 rgba($color-black, .2);
      z-index: 10;

      .select-dropdown__arrow {
        margin-top: .3125rem;
        transform: rotateZ(45deg);
      }

      .select-dropdown__list {
        outline: .0625rem solid $color-gray-700;
        max-height: 245px; 
      }
    }

    &--disabled {
      border-color: $color-gray-300;
      background-color: $color-gray-300;
      color: $color-gray-800;
      cursor: not-allowed;
      pointer-events: none;

      & .select-dropdown__arrow {
        display: none;
      }

      & .select-dropdown__list {
        display: none;
      }
    }
  }

  &__arrow {
    position: absolute;
    right: 1rem;
    top: 34%;
    width: .625rem;
    height: .625rem;
    border-left: .0625rem solid $color-black-400;
    border-top: .0625rem solid $color-black-400;
    transform: rotateZ(-135deg);
    transition: .2s ease-in;
    pointer-events: none;
  }
  
  &__label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: .75rem 1rem;
    color: $color-black-100;

    &--small {
      font-size: .875rem;
    }
  }
  
  &__list {
    position: absolute;
    width: 100%;
    font-size: 1rem;
    border-radius: $border-radius;  
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $color-white;
    box-shadow: 0 3px 5px 0 rgba($color-black, .2);
    overflow-y: auto;
    z-index: 2;
    max-height: 0;
    //transition: .2s ease-in;
    
    &::-webkit-scrollbar { width: 6px; }
    &::-webkit-scrollbar-track { background: transparent; }
    &::-webkit-scrollbar-thumb { background: #212121; border-radius: 6px; }
    &::-webkit-scrollbar-thumb:hover { background: #212121; }
  }

  &__item {
    padding: .75rem 1rem;
    color: $color-black-100;
    border-bottom: .0625rem solid $color-gray-400;
    
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $color-gray-300;
    }    
  }

}



/* ------------------------------ BUTTON ------------------------------ */
// --- button ---------------------------------------------------------
.btn {
	color: $button-base-color;  
	background-color: $button-base-bg;
  padding: $button-padding;
	display: flex;
  align-items: center;
  justify-content: center;
	text-decoration: none;
	border-radius: $button-border-radius;
  //border: 1px solid $button-base-bg;
	font-size: $button-font-size;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
	transition: background-color .2s, color .2s, border-color .2s;
	@include bem-button-hover($button-base-bg);

  &--full {
    width: 100%;
  }

  &--text-primary {
    color: $color-primary;
  }

  &--round {
    border-radius: 52px;
  }

  &--txt-row {
    flex-direction: column;
    white-space: normal;
  }

	&.is-disabled {
    background-color: $color-gray-600;
    color: $color-white;
		cursor: not-allowed;
    pointer-events: none;
    border-color: $color-gray-600;
	}

  & > i {
    display: inline-block;
  }
}

// --- button: sizes ---------------------------------------------------------
@include bem-button-size('small', .875rem, .5rem);
//@include bem-button-size('large', 1.25rem, 1rem);

// --- button: variants ---------------------------------------------------------
@include bem-button('primary', $button-primary-color, $color-white);
@include bem-button('gray', $color-gray-300, $color-black-400);
@include bem-button('gray-2', $color-gray-500, $color-black-400);
@include bem-button('brown', $button-brown-color, $color-white);

// --- button: bordered ---------------------------------------------------------
@include bem-button-bordered('base', $color-gray-500, $color-gray-700);
@include bem-button-bordered('primary', $button-primary-color, $button-primary-color);
@include bem-button-bordered('black', $color-black-400, $color-black-400);

.btn--gray:hover,
.btn--bordered-base:hover {
  background-color: darken($color-gray-300, 10%);
  border-color: darken($color-gray-300, 10%);
}

.btn-urlcopy { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: $color-black-300;
  border-radius: 50%;

  .icon.i-urlcopy {
    transform: rotate(-45deg);
  }
}
.btn-kakao { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #ffe90a;
  border-radius: 50%;
}



.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  &__title {
    font-size: .8125rem;
    color: $color-gray-700;
  }
  
  &__label {
    position: relative;
    display: inline-flex;
    width: 46px;
    height: 24px;
    padding: 2px;

    .switcher__input:checked + b {
      background-color: $color-primary;
    }
    .switcher__input:checked + b::before {
      transform: translateX(21px);
    }
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  b {
    @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
    cursor: pointer;
    background-color: $color-gray-300;
    transition: .5s;
    border-radius: 50px;

    &::before {
      @include position(absolute, $top: -1px, $left: 0);
      @include size($width: 22px, $height: 22px);
      content: '';      
      margin: 2px;
      background-color: $color-white;
      transition: .5s;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba($color-black, .2);
    }

  }
}


/* ------ MODAL ----- */
.modal {
  @include position(fixed, $top: 0, $left: 0, $bottom: 0, $right: 0);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  overflow: auto;
  transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  z-index: 1000;

  &.open {
    pointer-events: auto;
    opacity: 1;
  }

  &__close {
    @include position(absolute, $top: 1rem, $right: 1rem);
    @include size(24px, 24px);
    color: $color-black;
    background-color: $color-white;
    z-index: 3;
  }

  &__container {
    width: 80%;
    max-width: 320px;
    margin: 0 auto;
    padding: 2rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow:0 11px 15px -7px rgba(0, 0, 0, 0.1), 0 24px 38px 3px rgba(0, 0, 0, 0.1), 0 9px 46px 8px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    transform: translate(0, 25%) scale(0.2);
    transition: transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }

  &.open .modal__container {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }

  &__description {
    font-size: .875rem;
    font-weight: 400;
    margin-top: .5rem;
  }

  &__header {
    position: relative;
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;

    &--text-left {
      text-align: left;
    }
  }

  &__body {
    padding: 1rem 0;
    font-size: .875rem;
    color: $color-gray-700;
    text-align: center;

    &--text-left {
      text-align: left;
    }

    & h4 {
      @include font-size(20, 13, 700);
      color: $color-black;

      & ~ h4 {
        margin-top: 2rem;
      }
    }

    & .terms-box {
      border: $border;
      font-size: 13px;
      max-height: 224px;
      margin-top: 0.6rem;
      padding: 1rem;
      overflow-y: auto;
    }
  }
  
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    margin-top: 1.25rem;

    &--justify-end {
      justify-content: flex-end;
    }
  }
}


/* ------ MODAL DIALOG ----- */
.modal-dialog {
  display: none;
  @include position(fixed, $top: 0, $left: 0, $bottom: 0, $right: 0);
  z-index: 1000;
  overflow: hidden;

  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    transform: translate(0, 100%);
    transition: transform 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

    &.open {
      transform: translate(0, 0);
    }
  }

  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
  }

  &__close {
    @include position(absolute, $top: 1.063rem, $right: 1rem);
    @include size(24px, 24px);
    display: flex;
    color: $color-black;
    background-color: $color-white;
    z-index: 3;
  }

  &__header {
    flex-shrink: 0;
    @include position(sticky, $top: 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.625rem;
    background-color: $color-white;
    text-align: center;
    z-index: 2;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 500;
    color: $color-black-100;
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1.5rem;    
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &__body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: .625rem;
    padding: 1rem;
    background-color: $color-white;
    border-top: .0625rem solid $color-gray-100;
    z-index: 2;
  }
}


/* ------ BOTTOM SHEET ----- */
.bottom-sheet {
  @include position(fixed, $top: 0, $left: 0, $bottom: 0, $right: 0);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  opacity: 0;
  overflow: auto;
  transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  z-index: 1000;

  &.open {
    pointer-events: auto;
    opacity: 1;
  }

  &__close {
    @include position(absolute, $top: 1.5rem, $right: 1rem);
    @include size(24px, 24px);
    display: flex;
    color: $color-black;
    background-color: $color-white;
    z-index: 3;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 1rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow:0 11px 15px -7px rgba(0, 0, 0, 0.1), 0 24px 38px 3px rgba(0, 0, 0, 0.1), 0 9px 46px 8px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    overflow-x: hidden;
    //overflow-y: auto;
    overflow: hidden;
    opacity: 0;
    transform: translate(0, 100%);
    transition: transform 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }

  &.open .bottom-sheet__container {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.hide .bottom-sheet__container {
    transform: translate(0, 100%);
    transition-duration: 0.3s;
  }

  &__description {
    font-size: .875rem;
    font-weight: 400;
    color: $color-gray-900;
    margin-top: .75rem;

    &--text-center {
      text-align: center;
    }
  }

  /*
  &__close + &__header {
    padding-top: 2rem;
  }
  */

  &__header {
    position: relative;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: .875rem;

    &--text-center {
      text-align: center;
    }
  }

  &__body {
    flex-grow: 1;
    padding-bottom: 1.5rem;    
    max-height: 70vh;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &__body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: .625rem;
    margin: 0 -1rem;
    padding: .875rem 1rem 0;
    background-color: $color-white;
    border-top: .0625rem solid $color-gray-100;
    z-index: 2;

    & .btn--small {
      min-width: 0;
    }
  }

  .field-group.flex-box { 
    align-items: center;
    gap: 1rem;

    & .field-group__label {
      margin-bottom: 0;
      width: 40%;
    }

    & .field-group__cont {
      flex-grow: 1;
      width: auto;
    }
  }

}


/* ------------------------------ 게시판 ------------------------------ */
// 리스트
.board-list {
  &__item {
    position: relative;
    border-bottom: .0625rem solid $color-gray-200;
    background-color: $color-white;

    &.notice {
      .board-list__title {
        font-weight: 700;
        padding-left: 34px;

        &::before {
          position: absolute;
          left: 0;
          top: 4px;
          content: '';
          width: 24px;
          height: 18px;
          font-size: .625rem;
          line-height: 18px;
          color: #fff;
          text-align: center;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23ffffff' viewBox='0 -960 960 960'%3E%3Cpath d='M240-400v-160h136.92L520-703.08v446.16L376.92-400H240Zm390.77 52.31v-266.62q32.69 21 50.96 56.93Q700-521.46 700-480q0 41.46-18.27 76.38-18.27 34.93-50.96 55.93ZM480-606l-86 86H280v80h114l86 86v-252ZM380-480Z'/%3E%3C/svg%3E");
          background-color: $color-gray-800;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 18px;
          overflow: hidden;
        }
      }
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: .75rem 2rem .75rem 0;
    text-decoration: none;

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      content: '';
      width: 20px;
      height: 20px;
      background-image: icon(arrow-right, 'b6b6b6');
      background-size: 20px 20px;
      background-position: 3px;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    &--basic {
      &::after {
        display: none;
      }
    }
  }
  &__title {
    position: relative;
    font-size: 1rem;
    color: $color-black-100;

    &--ellipsis {
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
    }
  }
  &__date {
    display: inline-block;
    font-size: .8125rem;
    color: $color-gray-700;
    margin-top: .5rem;
  }

  & .button-dropdown {
    position: absolute;
    top: 1.25rem;
    right: 0;
    z-index: 3;
  }
}

.board-list2 {
  &__item {
    border-bottom: .0625rem solid $color-gray-200;
    background-color: $color-white;
    margin: 0 -1rem;
    padding: 0 1rem;
  }
  &__link {
    display: flex;
    gap: 1rem;
    position: relative;
    padding: .75rem 0;
    text-decoration: none;
  }
  &__pic  {
    position: relative;
    width: 48px;

    &.is-new {
      &::after {
        position: absolute;
        left: -.0625rem;
        top: -.0625rem;
        content: '';
        width: 5px;
        height: 5px;
        background-color: $color-red;
        border-radius: 50%;
      }
    }

    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
    }
    
    .icon.i-parents {
      width: 48px;
      height: 48px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='%23ffffff' viewBox='0 -960 960 960'%3E%3Cpath d='M247.85-260.62q51-36.69 108.23-58.03Q413.31-340 480-340t123.92 21.35q57.23 21.34 108.23 58.03 39.62-41 63.73-96.84Q800-413.31 800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 66.69 24.12 122.54 24.11 55.84 63.73 96.84ZM480-460q-50.54 0-85.27-34.73T360-580q0-50.54 34.73-85.27T480-700q50.54 0 85.27 34.73T600-580q0 50.54-34.73 85.27T480-460Zm0 340q-75.31 0-141-28.04t-114.31-76.65Q176.08-273.31 148.04-339 120-404.69 120-480t28.04-141q28.04-65.69 76.65-114.31 48.62-48.61 114.31-76.65Q404.69-840 480-840t141 28.04q65.69 28.04 114.31 76.65 48.61 48.62 76.65 114.31Q840-555.31 840-480t-28.04 141q-28.04 65.69-76.65 114.31-48.62 48.61-114.31 76.65Q555.31-120 480-120Z'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-color: $color-gray-300;
      border-radius: 50%;
      border: 1px solid $color-gray-300;
      overflow: hidden;
    }

    .icon.i-cscenter {
      width: 48px;
      height: 48px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='%23ffffff' viewBox='0 -960 960 960'%3E%3Cpath d='M480-104.61v-40.01h255.38q10.77 0 17.7-6.92 6.92-6.92 6.92-17.69V-200H636.92v-246.15H760V-520q0-116-82-198t-198-82q-116 0-198 82t-82 198v73.85h123.08V-200h-98.46q-27.62 0-46.12-18.5Q160-237 160-264.62V-520q0-66.31 25.04-124.5t68.65-101.81q43.62-43.61 101.81-68.65Q413.69-840 480-840t124.5 25.04q58.19 25.04 101.81 68.65 43.61 43.62 68.65 101.81Q800-586.31 800-520v350.77q0 27.61-18.5 46.11-18.5 18.51-46.12 18.51H480ZM224.62-240h58.46v-166.15H200v141.53q0 10.77 6.92 17.7 6.93 6.92 17.7 6.92Zm452.3 0H760v-166.15h-83.08V-240Zm-452.3-166.15H200h83.08-58.46Zm452.3 0H760h-83.08Z'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-color: $color-primary;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: .875rem;
    color: $color-black-100;
  }
  &__date {
    display: inline-block;
    font-size: .75rem;
    color: $color-gray-600;
    margin-top: .5rem;
  }
  &__del {
    position: absolute;
    right: -1rem;
    top: 0;
    bottom: 0;
    width: 58px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-red;

    & .icon.i-trash {
      background-image: icon(trash, 'ffffff');
    }

  }
}

// 뷰
.board-view {
  &__head {
    display: flex;
    flex-direction: column;
    margin: 0 -1rem;
    padding: 1.25rem 1rem;
    border-bottom: .0625rem solid $color-gray-300;
    background-color: $color-gray-100;
  }
  &__title {
    font-size: 1.063rem;
    font-weight: 700;
    color: $color-black-100;
  }
  &__date {
    display: inline-block;
    font-size: .8125rem;
    color: $color-gray-700;
    margin-top: .5rem;
  }
  &__body{
    padding: 2rem 0;
    font-size: .875rem;
    color: $color-black-200;
  }
}

// 관리자 답변
.master-answer {
  margin: 2rem -1rem 0 -1rem;
  padding: 1.5rem 1rem;
  background-color: rgba($color-primary, 0.03);
  border-top: .0625rem solid rgba($color-primary, 0.2);

  &__head {
    font-size: 1rem;
    font-weight: 700;
    color: $color-black-100;
    padding-bottom: 1rem;
    border-bottom: .0625rem solid $color-gray-300;
  }
  &__cont {
    font-size: .875rem;
    color: $color-black-200;
    margin-top: 1rem;
  }
  &__date {
    display: inline-block;
    font-size: .8125rem;
    color: $color-gray-700;
    margin-top: .5rem;
  }
}









.table-box {
  border-top: 1px solid rgb(60, 60, 60);

  th {
    padding: 1.7rem 1rem;
    background-color: $color-black-100;
    @include font-size(13, 16, 500);
    border-bottom: 1px solid rgb(35, 35, 35);
  }

  td {
    @include font-size(13, 16);
    padding: 1.7rem 0.5rem;
    text-align: center;
    border-bottom: solid 1px rgb(35, 35, 35);
    color: rgba($color-white, 0.6);

    a {
      display: inline-block; 
      vertical-align: top; 
      width: 100%;
      color: rgba($color-white, 0.6);
      text-decoration: none;
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
      padding-left: 1rem;
    }
  }

  .notice {

    td {
      color: rgba($color-white, 1); 

      a {
        color: rgba($color-white, 1);
      }

      .tag {
        display: inline-block;
        width: 45px;
        height: 28px;
        background: rgb(40, 40, 40);
        border-radius: 28px;
        font-size: 12px;
        font-weight: 700;
        line-height: 28px;
        color: $color-primary;
      }
    } 
  }

  .left {
    text-align: left;
  }
}

// --- 뷰 ------------------------------------------------------------------
.tbview-box {
  border-top: 1px solid rgb(60, 60, 60);
  
  &__head {
    border-bottom: 1px solid rgb(60, 60, 60);
  }

  &__head-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 68px; 
  }

  &__tit {
    display: flex;
    align-items: center;
    width: calc(100% - 71px);
    @include font-size(13, 16, 500);
    color: rgba($color-white, 1);

    .tag {
      display: inline-block;
      width: 45px;
      height: 28px;
      background: rgb(40, 40, 40);
      border-radius: 28px;
      font-size: 12px;
      font-weight: 700;
      line-height: 28px;
      text-align: center;
      color: $color-primary;
      margin-right: 1rem;
    }

    div {
      width: calc( 100% - 55px );
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__body {
    padding: 2rem 1rem;
    border-bottom: solid 1px rgb(35, 35, 35);
    @include font-size(13, 16);
    color: rgba($color-white, 0.6);

    iframe {
      width: 100% !important;
    }
  }
}

// --- 페이지네이션 ------------------------------------------------------------------
.pagination {
  margin: 4rem 0 1rem;
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 5px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;    
    font-size: 1.2rem;
    color: $color-gray-700;
    border-radius: 50%;
    text-decoration: none;
    background: $color-black-200;
    transition: all .3s;

    &--active {
      color: $color-white;
      background: rgb(60, 60, 60);  
    }

    .icon {
      @include size(18px, $height: 18px);
      opacity: 0.6;
    }
  }
}




