@import '../abstracts/mixins';

#app { 
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  min-height: 100%;
  opacity: 1;
            transition: opacity 0.5s ease;
}

#app.hidden {
  opacity: 0;
}

#app-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  //위에 두개 추가
  position: relative;
  height: 100%;    
}


.container {
  flex-grow: 1;
  width: 100%;
  //위에 두개 추가
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-gray-100;

  &--grow0 {
    flex-grow: 0;
  }

  &--bg-white {
    background-color: $color-white;
  }
}

.content {
  padding-bottom: 6.75rem;
  //padding-bottom: 3.375rem;
}

.content-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .625rem;
  margin: 0 -1rem;
  padding: 1rem;
  background-color: $color-white;
  border-top: .0625rem solid $color-gray-100;
  z-index: 2;

  &--transparent {
    background-color: transparent;
    border-top: none;
  }

  &--direction-column {
    flex-direction: column;
  }
}

.container.auth {
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > .section {
      flex-grow: 1;
    }
  }
}


/* ------------------------------ HEADER ------------------------------ */
#app-header {
  @include position(sticky, $top: 0);
  height: 3.625rem;
  background-color: $color-white;
  z-index: 100;
}

.global-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include size(100%, $height: 100%);
  padding: 1rem;
  background-color: $color-white;
  transition: all .3s;

  /*
  &::after {
    content: '';
    @include position(absolute, $bottom: 0, $right: 0, $left: 0);
    height: 1px;
    background-color: $color-bline-100;
  }
  */

  &__button {
    display: flex;
  }

  &__link {
    display: flex;
  }

  &__title {
    @include position(absolute, $left: 50%);
    transform: translateX(-50%);
    max-width: 12.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0 1rem;
    color: $color-black-100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__control {
    display: flex;
  }

  &__quest {
    cursor: pointer;
  }
}


/* ------ TAB NAV ----- */
.local-nav-bar {
  position: sticky;
  top: 3.625rem;
  margin: 0 -1rem;
  border-bottom: 1px solid $color-gray-200;
  z-index: 3;
  
  &__group {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 2.75rem;
    padding: 0 1rem;
    background-color: $color-white;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none; 
    }
  }

  &__item {
    flex: 1 1 0;
    height: 100%;
    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: $color-gray-700;
    text-decoration: none;

    .icon.i-favorite {
      background-image: icon(favorite, 'b6b6b6');
    }

    &::after {
      content: '';
      @include position(absolute, $bottom: 0, $left: 50%);
      @include size(0, 2px);
      background-color: $color-black;
      transition: all .3s;
    }

    &:hover, &:focus {
      color: $color-black;

      &::after {
        left: 0;
        width: 100%;
      }
    }

    &--active {
      color: $color-black;

      &::after {
        left: 0;
        width: 100%;
      }

      .icon.i-favorite {
        background-image: icon(favorite, '000000');
      }
    }    
  }
}

.tabs-bar {
  margin: 0 -1rem;
  border-bottom: 1px solid $color-gray-200;
  z-index: 3;
  
  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0 1rem;
    background-color: $color-white;    
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 2.25rem;
    padding: 0 1rem;
    color: $color-black-400;
    background-color: $color-gray-200;
    border-radius: 2.25rem;

    &--active {
      background-color: $color-black-200;

      span {
        color: $color-white;
      }
    }

    span {
      font-size: .8125rem;
    }
  }
}


/* ------ Search Filter ----- */
.filter-bar {
  position: sticky;
  top: 6.4375rem;
  margin: 0 -1rem;
  border-bottom: 1px solid $color-gray-200;
  z-index: 3;
  
  &__group {
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
    width: 100%;
    padding: .5rem 1rem;
    background-color: $color-white;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none; 
    }
  } 

  &__item {
    //flex: 1 1 0;
    height: 100%;
    position: relative;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.25rem;
      padding: 0 .75rem;
      font-size: .8125rem;
      color: $color-black-400;
      background-color: $color-gray-200;
      border-radius: $border-radius;

      & > * {
        pointer-events: none;
      }

      &.active {
        background-color: rgba($color-primary, .1);
        
        span {
          color: $color-primary;
        }
        span::after {
          background-color: $color-primary !important;
        }
      }

      &.fr-search {
        span {
          position: relative;
          width: 1rem; 
          height: 1rem; 
          white-space: nowrap;
        }
        span::after { 
          position: absolute; 
          right: 0; 
          top: 50%; 
          content: ''; 
          width: 1rem; 
          height: 1rem; 
          transform: translateY(-50%); 
          background-color: $color-black-100;
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 50 50'%3E%3Cpath d='M2260 1018.12c-15.44 0-28-12.56-28-27.996 0-15.439 12.56-28 28-28s28 12.561 28 28c0 15.436-12.56 27.996-28 27.996Zm43.41 12.59-19.45-19.45c4.99-5.64 8.04-13.032 8.04-21.136 0-17.645-14.36-32-32-32s-32 14.355-32 32c0 17.646 14.36 31.996 32 31.996 8.1 0 15.49-3.05 21.14-8.03l19.45 19.45c.39.39.9.58 1.41.58.51 0 1.02-.19 1.41-.58.79-.78.79-2.05 0-2.83Z' style='fill:%23000000; fill-rule:nonzero' transform='matrix(.65787 0 0 .65787 -1465.74 -630.32)'/%3E%3C/svg%3E"); 
        }
      }

      &.fr-refresh {
        padding-right: 1rem;

        span {
          position: relative;
          padding-right: .75rem;
          white-space: nowrap;
        }
        span::after { 
          position: absolute; 
          right: -.5rem; 
          top: 50%; 
          content: ''; 
          width: 1rem; 
          height: 1rem; 
          margin-top: .0625rem;
          transform: translateY(-50%); 
          background-color: $color-gray-900;
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' style='fill:%23000000; fill-rule:evenodd; clip-rule:evenodd; stroke-linejoin:round; stroke-miterlimit:2'%3E%3Cpath d='M24 40q-6.65 0-11.325-4.675Q8 30.65 8 24q0-6.65 4.675-11.325Q17.35 8 24 8q4.25 0 7.45 1.725T37 14.45V8h3v12.7H27.3v-3h8.4q-1.9-3-4.85-4.85Q27.9 11 24 11q-5.45 0-9.225 3.775Q11 18.55 11 24q0 5.45 3.775 9.225Q18.55 37 24 37q4.15 0 7.6-2.375 3.45-2.375 4.8-6.275h3.1q-1.45 5.25-5.75 8.45Q29.45 40 24 40Z'/%3E%3C/svg%3E"); 
        }
      }

      &.fr-option {
        
        span {
          position: relative;
          padding-right: .75rem;
          white-space: nowrap;
        }
        span::after { 
          position: absolute; 
          right: -.5rem; 
          top: 50%; 
          content: ''; 
          width: 1rem; 
          height: 1rem; 
          transform: translateY(-50%); 
          background-color: $color-gray-900;
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 -20 512 512'%3E%3Cpath fill='none' stroke='%23000000' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M184 112l144 144-144 144'/%3E%3C/svg%3E"); 
        }
      }
      
    }
  }

  & .field-group {
    display: none;
    margin-top: 0;
    padding: 0 1rem .5rem;
    background-color: $color-white;

    .icon.i-search {
      width: 1rem;
      height: 1rem;
    }

    .field-group__input {
      height: 2.25rem;
      padding: 0 0 0 .75rem;
      font-size: .875rem;
    }
    
    .field-group__clear {
      margin: .5rem;
    }
  }
}


/* ------------------------------ FOOTER ------------------------------ */
#app-footer {
  @include position(fixed, $left: 0, $right: 0, $bottom: 0);
  height: 3.375rem;
  background-color:$color-white;
  border-top: 1px solid $color-gray-200;
  z-index: 100;
}
.global-bottom-nav {
	display:flex;	
  height: 100%;
  //give nav it's own compsite layer
  will-change: transform;
	transform: translateZ(0);
	
	&__item {
		flex-grow: 1;
    display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		font-size: .6875rem;		
    font-weight: 500;
		opacity: .4;
	}
	&__item--active {
		color: $color-primary;
    opacity: 1;
    
    .icon.i-ft-tutoring {
      background-image: icon(ft-tutoring, 'f66217');
    }
    .icon.i-ft-schedule {
      background-image: icon(ft-schedule, 'f66217');
    }
    .icon.i-ft-partner {
      background-image: icon(ft-partner, 'f66217');
    }
    .icon.i-ft-profile {
      background-image: icon(ft-profile, 'f66217');
    }
    .icon.i-ft-my {
      background-image: icon(ft-my, 'f66217');
    }
    .icon.i-ft-tb {
      background-image: icon(ft-tb, 'f66217');
    }

	}
	&__item-content { 
		display: flex;
		flex-direction: column;	
    align-items: center;	
	}
}



/* ------------------------------ COMMON ------------------------------ */
.active-el {
  background-color: rgba($color-primary, .04) !important;
  border-color: rgba($color-primary, .3) !important;
}

//단락 나눔
.divider {
  height: .5rem;
  margin-right: -1rem;
  margin-left: -1rem;
  background-color: $color-gray-100;

  &--thin {
    height: .0625rem;
  }
}

.space-line {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  width: .0625rem;
  height: .75rem;
  background-color: $color-gray-500;
}

.link-nav {
  margin: 0 -1rem;
  background-color: $color-white;

  &__list {
    border-top: .0625rem solid $color-gray-100;
  }

  &__item {
    border-bottom: .0625rem solid $color-gray-100;
    
    .i-arrow-right {
      background-image: icon(arrow-right, '898992');
      margin-left: auto;
      width: 20px;
      height: 20px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;

    &--justify-between {
      justify-content: space-between;
    }

    &:hover, &:active {
      background: darken($color-gray-100, 17%);
    }

    &--nohover {
      cursor: initial;
      &:hover, &:active {
        background: transparent;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: $color-black-100;

    &--direction-column {
      flex-direction: column;
    }

    &--items-start {
      align-items: flex-start;
    }

    .icon {
      margin-right: .5rem;
    }
  }
}

.section {
  margin: 0 -1rem;
  padding: 0 1rem;
  background-color: $color-white;
  border-top: .0625rem solid $color-white;
  
  &__title {
    font-size: 1.063rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: $color-black-100;
    margin: 0 -1rem;
    padding: 1.25rem 1rem 0 1rem;
    background-color: $color-white;
  }
}

.section-card {
  padding: 1.25rem 1rem;
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.bottom-button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .625rem;
  margin: 0 -1rem;
  padding: .875rem 1rem 0;
  background-color: $color-white;

  & button {

  }
}

.pos-sticky {
  position: sticky; 
  top: 3.625rem; 
  background-color: $color-white;
  margin: 0 -1rem;
  padding: .5rem 1rem;
  width: auto;
  z-index: 3;
}

.color-primary, .highlight {
  color: $color-primary;
}

.highlight2 {
  color: $color-purple;
}

.color-red {
  color: $color-red;
}

.color-red2 {
  color: #d41414;
}

.color-blue {
  color: $color-blue;
}

.color-green {
  color: #277153;
}

.color-gray-700 {
  color: $color-gray-700;
}

.color-gray-900 {
  color: $color-gray-900;
}

.color-black {
  color: $color-black-100;
}

.color-black-400 {
  color: $color-black-400;
}

.typo-small {
  font-size: 0.875rem !important;
}

.typo-small2 {
  font-size: 0.8125rem !important;
}

.typo-medium {
  font-size: 1rem !important;
}

.typo-medium2 {
  font-size: 0.9375rem !important;
}

.typo-large {
  font-size: 1.125rem !important;
}

.typo-large2 {
  font-size: 1.25rem !important;
}

.typo-large3 {
  font-size: 1.5rem !important;
}

.strong {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bg-white {
  background-color: $color-white;
}

.overflow-hidden {
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}






//아이콘
.icon {
	display: inline-block;
  @include size(24px, 24px);
	vertical-align: middle;
  background-repeat: no-repeat;
  pointer-events: none;
	
	&.i-arrow-left {
    background-image: icon(arrow-left);
	}
	&.i-arrow-right {
    background-image: icon(arrow-right);
	}
	&.i-arrow-up {
    background-image: icon(arrow-up);
	}
	&.i-arrow-down {
    @include size(20px, 20px);
    background-image: icon(arrow-down);
	}
  &.i-arrow-back {
    background-image: icon(arrow-back);
	}
  &.i-close {
    background-image: icon(close);
	}
  &.i-close-white {
    background-image: icon(close, 'ffffff');
	}
  &.i-info {
    @include size(18px, 18px);
    background-image: icon(info-fill, '484848');
	}
  &.i-alarm {
    position: relative;
    background-image: icon(alarm);
    
    &.is-new {
      &::after {
        position: absolute;
        right: -.0625rem;
        top: -.0625rem;
        content: '';
        width: 5px;
        height: 5px;
        background-color: $color-red;
        border-radius: 50%;
      }
    }
  }
  &.i-home {
    background-image: icon(home);
  }
  &.i-more {
    background-image: icon(more);
  }
  &.i-setting {
    background-image: icon(setting);
  }
  &.i-search {
    @include size(20px, 20px);
    background-image: icon(search);
    margin-left: .5rem;
  }
  &.i-trash {
    @include size(22px, 22px);
    background-image: icon(trash, 'b6b6b6');
  }
  &.i-refresh {
    @include size(22px, 22px);
    background-image: icon(refresh);
    transform: scaleX(-1);
  }
  &.i-check {
    @include size(20px, 20px);
    background-image: icon(check, 'f66217');
  }
  &.i-edit {
    @include size(18px, 18px);
    background-image: icon(edit);
  }
  &.i-date {
    background-image: icon(date);
  }
  &.i-time {
    background-image: icon(time);
  }
  &.i-photo {
    @include size(20px, 20px);
    background-image: icon(photo);
  }
  &.i-add-circle {
    @include size(34px, 34px);
    background-image: icon(add-circle, 'f66217');
  }



  &.i-ft-tutoring {
    @include size(28px, 28px);
		background-image: icon(ft-tutoring);
  }
  &.i-ft-schedule {
    @include size(28px, 28px);
		background-image: icon(ft-schedule);
  }
  &.i-ft-partner {
    @include size(28px, 28px);
		background-image: icon(ft-partner);
  }
  &.i-ft-profile {
    @include size(28px, 28px);
		background-image: icon(ft-profile);
  }
  &.i-ft-my {
    @include size(28px, 28px);
		background-image: icon(ft-my);
  }
  &.i-ft-tb {
    @include size(28px, 28px);
		background-image: icon(ft-tb);
  }

  &.i-class-before {
    background-image: icon(class-book, 'f66217');
  }
  &.i-class-after {
    background-image: icon(class-book, 'dbdbdb');
  }
  &.i-class-list {
    background-image: icon(class-list);
  }
  &.i-class-report {
    background-image: icon(class-report);
  }

  &.i-parents {
    @include size(38px, 38px);
    background-image: icon(parents , 'dbdbdb');
  }
  &.i-call {
    background-image: icon(call, 'a38374');
  }
  &.i-mail {
    background-image: icon(mail, 'a38374');
  }
  &.i-help {
    background-image: icon(help, '222339');
    pointer-events: auto;
  }
  &.i-favorite {
    background-image: icon(favorite);
  }
  &.i-urlcopy {
    background-image: icon(urlcopy, 'ffffff');
  }
  &.i-kakao {
    background-image: icon(kakao, '3c2622');
  }
  &.i-download {
    background-image: icon(download);
  }
  &.i-visibility-off {
    @include size(18px, 18px);
    background-image: icon(visibility-off, '868686');
  }
  &.i-visibility-on {
    @include size(18px, 18px);
    background-image: icon(visibility-on, '868686');
  }
  &.i-cscenter {
    background-image: icon(cscenter);
  }
  &.i-camera {
    background-image: icon(camera);
  }
  &.i-storage {
    background-image: icon(storage);
  }
  &.i-speaker {
    background-image: icon(speaker);
  }
  &.i-folder {
    background-image: icon(folder);
  }
  









	
}




.progressbar {
  @include size(100%, $height: 2px);
  appearance: none;

  &::-webkit-progress-bar {
    background-color:#171616;
  }

  &::-webkit-progress-value {
    background-color: #b51a1a;
  }
}



.transhistory-toggle.active {
  & .icon.i-arrow-down {
    transform: rotate(-180deg);
  }
}

/* tippy 툴팁 */
.tippy-box[data-theme~='brown'] {
  background-color: #222339;
  color: #fff;
  font-size: .8125rem;
  padding: .5rem;
}
.tippy-box[data-theme~='brown'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #222339;
}
.tippy-box[data-theme~='brown'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #222339;
}
.tippy-box[data-theme~='brown'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #222339;
}
.tippy-box[data-theme~='brown'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #222339;
}



/* ------------------------------ 과외 관리 메인 ------------------------------ */
.tm-sm1 { background: #fff url('../img/tm_sm1_img01.png') right 1rem top 1.5rem no-repeat; background-size: 62px 62px; }
.tm-sm1 .hdtit { font-size: 1.5rem; font-weight: 700; color: $color-black-100; }
.tm-sm1 .desc { font-size: .9375rem; color: $color-gray-900; }
.tm-sm1 ul { display: flex; flex-direction: column; gap: 0.25rem; padding-top: 1rem; margin-top: 1rem; border-top: .0625rem dashed $color-gray-300; } 
.tm-sm1 ul li { position: relative; padding-left: 1.25rem; color: $color-gray-900; font-size: .875rem; }
.tm-sm1 ul li::before { position: absolute; left: .375rem; top: .625rem; content: ''; width: 5px; height: 5px; background-color: #dbdbdb; border-radius: 50%; transform: translateY(-50%); }
.tm-sm2 { position: relative; background: #f66217 url('../img/tm_sm1_img02.png') left 1rem center no-repeat; background-size: 62px 62px; padding-left: 6rem; }
.tm-sm2::after { position: absolute; right: 1rem; top: 50%; content: ''; width: 24px; height: 24px; transform: translateY(-50%); background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 -20 512 512'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M184 112l144 144-144 144'/%3E%3C/svg%3E"); }
.tm-sm2 .tit { font-size: 1.063rem; font-weight: 700; line-height: 1.5rem; color: $color-white; }
.tm-sm2 .desc { font-size: .875rem; line-height: 1.25rem; color: $color-white; word-break: keep-all; }
.tm-sm3 .tit { font-size: 1.063rem; font-weight: 700; line-height: 1.5rem; color: $color-black-100; }
.tm-sm3 { background: #fff url('../img/tm_sm1_img03.png') left 1rem center no-repeat; background-size: 62px 62px; padding-left: 6rem; }
.tm-sm3 .desc { font-size: .875rem; line-height: 1.25rem; color: $color-black-300; word-break: keep-all; }


/* ------------------------------ 파트너 선생님 메인 ------------------------------ */
.pt-sm1 { background: #fff url('../img/pt_sm1_img01.png') right 1rem top 1.5rem no-repeat; background-size: 62px 62px; }
.pt-sm1 .hdtit { font-size: 1.5rem; font-weight: 700; color: $color-black-100; }
.pt-sm1 .desc { font-size: .9375rem; color: $color-gray-900; }
.pt-sm1 ul { display: flex; flex-direction: column; gap: 0.25rem; padding-top: 1rem; margin-top: 1rem; border-top: .0625rem dashed $color-gray-300; } 
.pt-sm1 ul li { position: relative; padding-left: 1.25rem; color: $color-gray-900; font-size: .875rem; }
.pt-sm1 ul li::before { position: absolute; left: .375rem; top: .625rem; content: ''; width: 5px; height: 5px; background-color: #dbdbdb; border-radius: 50%; transform: translateY(-50%); }
.pt-sm2 { position: relative; background: #6b5cd9 url('../img/pt_sm1_img02.png') left 1rem center no-repeat; background-size: 62px 62px; padding-left: 6rem; }
.pt-sm2::after { position: absolute; right: 1rem; top: 50%; content: ''; width: 24px; height: 24px; transform: translateY(-50%); background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 -20 512 512'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M184 112l144 144-144 144'/%3E%3C/svg%3E"); }
.pt-sm2 .tit { font-size: 1.063rem; font-weight: 700; line-height: 1.5rem; color: $color-white; }
.pt-sm2 .desc { font-size: .875rem; line-height: 1.25rem; color: $color-white; word-break: keep-all; }
.pt-sm21 { position: relative; background: #6b5cd9 url('../img/pt_sm1_img02.png') left 1rem center no-repeat; background-size: 62px 62px; padding-left: 6rem; }
.pt-sm21 .tit { font-size: 1.063rem; font-weight: 700; line-height: 1.5rem; color: $color-black-100;  }
.pt-sm21 .desc { font-size: .875rem; line-height: 1.25rem; color: $color-black-300; word-break: keep-all; }
.pt-sm21 .text-btn { color: $color-purple; }
.pt-sm21 .text-btn .icon.i-arrow-right { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -20 512 512'%3E%3Cpath fill='none' stroke='%235c33f3' stroke-width='24' stroke-linecap='round' stroke-linejoin='round' d='M184 112l144 144-144 144'/%3E%3C/svg%3E"); }

/* ------------------------------ 회원가입 :: 선생님 or 학부모 버튼 ------------------------------ */
.auth-sel-btn { flex-direction: column; }
.auth-sel-btn .btn { width: 100%; color: #fff; font-size: 1.125rem; font-weight: 700; background-color: rgba($color-primary, 1); height: 68px; border-radius: 68px; }
.auth-sel-btn .btn:last-child { background-color: rgba($color-dark-blue-gray, 1); }



/* ------------------------------ 앱 접근 권한 ------------------------------ */
.permission-info {
  margin-top: 2rem;
  padding: 0 1rem;

  &__title {
    font-size: .875rem;
    color: $color-primary;
  }

  &__cont {
    margin-top: 1.5rem;
  }

  dl {
    display: flex;
    align-items: center;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: $border;

    &:last-child {
      border-bottom: none;
    }
  }

  dt {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 45%;
    font-weight: 600;
    color: $color-black-100;

    .icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $color-gray-200;
      overflow: hidden;
      background-size: 20px;
      background-position: center;

      &.i-alarm {
        background-size: 16px;
      }
    }
  }

  dd {
    width: 55%;
    font-size: .875rem;
    color: $color-black-400;
  }

}


/* ------------------------------ 이용약관 & 개인정보처리방침 ------------------------------ */
.termsBox {
  font-size: .8125rem; 

  h4 { 
    position: relative; 
    font-size: 1.063rem; 
    font-weight: 700; 
    color: #000; 
    margin-top: 2.25rem; 
  }

  p {
    margin-top: .625rem;
  }

  .numList { 
    padding: 8px 0; 
    counter-reset: list-number; 
    
    & > li { 
      position: relative; 
      padding-left: 18px; 
      margin: 6px 0; 
      counter-increment: list-number; 

      &::before { 
        position: absolute; 
        left: 0; 
        top: -1px; 
        content: counter(list-number)'.'; 
      }
    }
  }

  .numList2 { 
    padding-top: 8px; 
    counter-reset: list-number; 

    & > li { 
      position: relative; 
      padding-left: 24px; 
      margin: 6px 0; 
      counter-increment: list-number; 

      &::before { 
        position: absolute; 
        left: 0; 
        top: 3px; 
        content: counter(list-number); 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        width: 14px; 
        height: 14px; 
        text-align: center; 
        font-size: .5625rem; 
        line-height: 14px;
        border: 1px solid #686868; 
        border-radius: 50%; 
      } 
    }

    .numList,
    .numList3 {
      margin-top: 8px;
      padding: .5rem;
      background-color: #f9f9f9;
      border-radius: 4px;

      li {
        color: #686868;
      }
    }
  }

  .numList3 { 
    padding: 8px 0; 
    counter-reset: listStyle; 
    
    & > li { 
      position: relative; 
      padding-left: 18px; 
      margin: 6px 0; 
      counter-increment: listStyle; 

      &::before { 
        position: absolute; 
        left: 0; 
        top: -1px; 
        content: counter(listStyle, lower-alpha)'.'; 
      }
    }
  }

  .numList4 { 
    padding: 8px 0; 
    counter-reset: listStyle; 
    
    & > li { 
      position: relative; 
      padding-left: 14px; 
      margin: 6px 0; 
      counter-increment: listStyle; 

      &::before { 
        position: absolute; 
        left: 0; 
        top: 10px; 
        content: ''; 
        width: 5px;
        height: 1px;
        background-color: #aaa;
      }
    }
  }
  
  .tableDiv {
    margin-top: 8px;

    table {
      table-layout: auto;
      margin-top: 8px;
      border-top: 2px solid $color-black-200;
      font-size: .75rem;
      
      th {
        padding: .5rem;
        background-color: $color-gray-100;
        border-bottom: 1px solid $color-gray-300;
        border-right: 1px solid $color-gray-300;
        text-align: center;

        &:last-child {
          border-right: none;
        }
      }

      td {
        padding: .5rem;
        border-bottom: 1px solid $color-gray-300;
        border-right: 1px solid $color-gray-300;
        white-space: initial;
        color: #686868;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}



@include margin-classes;
@include padding-classes;
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.pt0 {
  padding-top: 0;
}